* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
    /* border: 1px solid red; */
}

header, footer {
    background-color: #2973B2;
    color: #F2EFE7;
    display: flex;
}

header {
    box-sizing: border-box;
    flex-direction: column;
    justify-content:space-between;
    padding: 15px 250px 80px;
    height: 515px;
}

footer {
    height: 100px;
    align-items: center;
    justify-content: center;
}

a {
    color: #F2EFE7;
    text-decoration: none;
}

button {
    background-color: #F2EFE7;
    font-size: 15px;
    font-weight: bolder;
    color: #2973B2;
    padding: 10px 30px;
    border-radius: 7px;
}

.brand {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    height: 30px;
    width: auto;
    border-radius: 50px;
}

.menu, .links, .main{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.links {
    align-items: center;
}

.main-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.main-text {
    font-weight: 900;
    font-size: 35px;
}

.intro {
    font-size: 15px;
}

.main img {
    height: 270px;
    width: auto;
    /* border: 5px solid #48A6A7; */
}

/* Directory */

.directory, .services, .service {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 50px;
}

.directory {
    height: 300px;
    flex-direction: column;
    padding: 100px;
}

.service {
    flex-direction: column;
    gap: 25px;
}

.service img {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border: 5px solid #9ACBD0;
    background-color: #F2EFE7;
}

/* Reviews */

.reviews {
    background-color: #9ACBD0;
}